<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add connectionString="server=us-cdbr-azure-southcentral-e.cloudapp.net;Port=3306;Database=nramirez36wsmysql;Uid=b0a8bd9b4741cc;Pwd=3880e251" name ="bd" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="root" value="."/>
    <add key="PathDescargas" value="Descargas"/>
    <add key="PathArchivos" value="D://Temp/"/>
  </appSettings>
  <applicationSettings>
    <CMS.Properties.Settings>
      <setting name="CMS_WSCMS_WSCMS" serializeAs="String">
        <value>http://nramirez36ws.azurewebsites.net/wscms.asmx</value>
      </setting>
    </CMS.Properties.Settings>
  </applicationSettings>
</configuration>
